* { margin: 0; padding: 0; }
html, body { font: normal 400 20px/1.5 'Roboto', sans-serif; }
a { text-decoration: none; }

.more { display: inline-block; width: 200px; height: 50px; line-height: 50px; background-color: rgb(53,140, 203); box-shadow: 5px 5px 0 deeppink; color: #fff; text-transform: uppercase; font-weight: 500; letter-spacing: 0.3px; text-align: center; margin: 0 10px 20px; transition: 0.3s; }

.more:hover { box-shadow: 8px 8px 0 deeppink; }

h1 { font-size: 80px; line-height: 1.2; letter-spacing: 1px; font-weight: 600; color: #fff; }
h2 { font-size: 30px; line-height: 1.2; color: #333; }
h4 { font-size: 24px; line-height: 1.2; color: #333; }

.wrap { width: 100%; max-width: 1200px; padding: 0 20px; margin: 0 auto; box-sizing: border-box; }

.section-container {
    position: relative;
    overflow: hidden;
    padding: 100px 0;
}
.section-container img { width: 100%; }

.section-title { margin-bottom: 20px; }


.parallax-section { height: 50vh; }

.section-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

#hero-banner { height: 100vh; text-align: center; color: #fff; padding: 0; }

#hero-banner:before { content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.5); z-index: 0;}

#hero-banner .section-bg {  -webkit-filter: blur(2px); filter: blur(2px); }
.banner-content { position: absolute; top: 50%; left: 50%; -ms-transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%); transform: translate(-50%,-50%); }

.banner-content .section-title h1 { margin-bottom: 20px; text-transform: uppercase; }

.banner-content .section-title h4 { margin-bottom: 80px; color: #fff; }

#footer { padding: 30px 0; background-color: #333; color: #fff; font-size: 14px; font-weight: 300; text-align: center; }

#footer a { color: #fff; font-weight: 300; }
#footer a:hover { color: deeppink; }